{{ define "main" }}
{{ $js := "js/commands-filter.js" }}
<script src="{{ $js | absURL }}"></script>
<main id="main">
  <div>
    <!-- TODO -->
    <span>
      Filter by group:
    </span>
    <select>
      <option>All</option>
      {{ range $.Site.Data.group }}
        <option value="{{ . }}">{{ . }}</option>
      {{ end }}
    </select>
    or
    <span>
      search for:
    </span>
    <input autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" placeholder="e.g. SPOP" spellcheck="false" class="js-command-reference-search">
  </div>
  <div class="commands-list">
    {{ range .Pages }}
      <!-- TODO: fix elipsis in long syntices -->
      {{ .Render "summary" }}
    {{ end }}
  </div>
</main>
{{ end }}