{{ define "main" }}

{{ $cname := replace (upper .File.TranslationBaseName) "-" " " 1 }}
{{ $cdata := (index $.Site.Data.commands $cname) }}

<div class="command-single">
  <h1 class="command-title">
    {{ $cname }} {{ partial "commands/arguments" $cdata.arguments }}
  </h1>
  <section id="main" class="command-main">
    <div class="command-metadata">
      <p>
        <strong>Available since:</strong> {{ $cdata.since }}
      </p>
      <p>
        <strong>Time complexity:</strong> {{ $cdata.complexity }}
      </p>
      <p>
        <strong>ACL categories:</strong>
        {{ range $cdata.acl_categories}}
        <em>@{{ . }}</em>
        {{ end }}
      </p>
    </div>

    <div>
      <article id="content" class="command-documentation">
        {{ .Content }}

        <h3>Reply</h3>
        <!-- TODO: hyper-link resp, replace \n -->
        {{ $cdata.return_summary | markdownify }}

        {{ if isset $cdata "history" }}
        <h3>History</h3>
        <ul>
          {{ range $cdata.history }}
          <li>
            >= {{ index . 0 }}: {{ (index . 1) | markdownify }}
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </article>
    </div>
  </section>

  <aside class="command-related">
    {{ $me := .RelPermalink }}
    <h2>{{ index $.Site.Data.group (default $cdata.group "string") }} commands</h2>
    <ul>
      {{ range where $.Site.Pages "Section" "commands" }}
        {{ $rcname := "" }}
        {{ with .File }}
          {{ $rcname = replace (upper .TranslationBaseName) "-" " " 1 }}
        {{ end }}
        {{ $rcdata := index $.Site.Data.commands $rcname }}
        {{ if eq $rcdata.group $cdata.group }}
          <li>
            {{ if eq $me .RelPermalink }}
            <strong>
            {{ end }}
            <a href="{{ .RelPermalink }}">{{ $rcname }}</a>
            {{ if eq $me .RelPermalink }}
            </strong>
            {{ end }}
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </aside>

</div>
{{ end }}