<style>
body {
  min-width: 300px;
}

.custom-navbar {
  margin-bottom: 1em;
  height: 60px;
}

.custom-navbar a {
  display: inline-block; 
  padding: 18px 0;
  margin-right: 1em; 
}

.custom-navbar a:hover,
.custom-navbar a:focus {
  text-decoration: none; 
}

.custom-navbar .nav-home {
  width: 108px;
}

@media print {
  .custom-navbar {
    display: none;
  }
}

article {
  padding-bottom: 1em;
}

img {
  max-width: 100%;
}

{{ with .Site.Params.contentBackgroundColor }}
body {
  background-color: {{ . | safeCSS }};
}
{{ else }}
body {
  background-color: #fff;
}
{{ end }}

{{ with .Site.Params.contentTextColor }}
body {
  color: {{ . | safeCSS }};
}
{{ else }}
body {
  color: #212529;
}
{{ end }}

{{ with .Site.Params.contentLinkColor }}
a {
  color: {{ . | safeCSS }};
}
{{ else }}
a {
  color: #007bff;
}
{{ end }}

{{ with .Site.Params.contentLinkHoverColor }}
a:hover,
a:focus {
  color: {{ . | safeCSS }};
}
{{ else }}
a:hover,
a:focus {
  color: #0056b3;
}
{{ end }}

{{ with .Site.Params.navbarBackgroundColor }}
.custom-navbar {
  background-color: {{ . | safeCSS }};
}
{{ else }}
.custom-navbar {
  background-color: #212529;
}
{{ end }}

{{ with .Site.Params.navbarLinkColor }}
.custom-navbar a {
  color: {{ . | safeCSS }};
}
{{ else }}
.custom-navbar a {
  color: rgba(255,255,255,.75);
}
{{ end }}

{{ with .Site.Params.navbarLinkHoverColor }}
.custom-navbar a:hover,
.custom-navbar a:focus {
  color: {{ . | safeCSS }};
}
{{ else }}
.custom-navbar a:hover,
.custom-navbar a:focus {
  color: rgba(255,255,255,1);
}
{{ end }}

{{ with .Site.Params.wrapperMaxWidth }}
.container {
  max-width: {{ . | safeCSS }};
}
{{ else }}
.container {
  max-width: 800px;
}
{{ end }}

{{ if eq .Site.Params.customCodeStyle true }}
pre {
  display: block;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit; 
  white-space: pre-wrap;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

code {
  padding: 2px 4px;
  color: inherit; 
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: .9em;
}
{{ end }}

{{ if eq .Site.Params.customBlockquoteStyle true }}
blockquote,
.blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 1em;
  border-left: 5px solid #6c757d;
}
{{ end }}

  .commands-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em 1em;
    align-items: stretch;
    align-content: stretch;
  }

  .commands-list a {
    border-radius: 5px;
    background-color: #fafafa;
    padding: 1em;
    margin: 0;
    text-decoration: none;
  }

  .commands-list :hover {
    background-color: #ecf7fa;
  }

  .commands-summary {
    padding: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .commands-summary .command-name {
    color: #0066aa;
    font-family: monospace;
    font-size: 0.9em;
  }

  .commands-summary .command-syntax {
    color: #212529;
    font-family: monospace;
    font-size: small;
  }

  .commands-summary .command-details {
    margin-top: 0.5em;
    font-size: smaller;
    color: #212529;
    overflow: auto;
    white-space: normal;
  }

  .command-single {
    display: grid;
    column-gap: 1.5em;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2;
    grid-template-areas:
      "title title"
      "main related";
  }

  .command-single .command-main {
    grid-area: main;
  }

  .command-single .command-title {
    grid-area: title;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .command-single .command-related {
    grid-area: related;
    border-left: 1px solid #dfdfdf;
  }

  .command-single .command-related h2 {
    font-size: 1em;
    font-weight: lighter;
    margin-left: 1em;
  }

  .command-single .command-related li {
  }
</style>